[tasks.clean]
command = "cargo"
args = ["clean", "-q"]

[tasks.remove-out.windows]
script_runner = "@duckscript"
script = '''
rm -r ./out
'''

[tasks.remove-out.linux]
script_runner = "bash"
script = '''
rm -rf ./out
'''

[tasks.build-release-windows-32.linux]
command = "cross"
args = ["build", "-q", "--release", "--target", "i686-pc-windows-gnu"]

[tasks.build-release-windows-64.linux]
command = "cross"
args = ["build", "-q", "--release", "--target", "x86_64-pc-windows-gnu"]

[tasks.build-release-windows-32.windows]
command = "cargo"
args = ["build", "-q", "--release", "--target", "i686-pc-windows-msvc"]

[tasks.build-release-windows-64.windows]
command = "cargo"
args = ["build", "-q", "--release", "--target", "x86_64-pc-windows-msvc"]

[tasks.build-release-linux-64]
command = "cross"
args = ["build", "-q", "--release", "--target", "x86_64-unknown-linux-gnu"]

[tasks.build-release-linux-32]
command = "cross"
args = ["build", "-q", "--release", "--target", "i686-unknown-linux-gnu"]

[tasks.release]
run_task = { name = [
    "build-release-windows-32",
    "build-release-windows-64",
    "build-release-linux-32",
    "build-release-linux-64",
], parallel = true }

[tasks.copy_bin]
script_runner = "@duckscript"
script = '''
mkdir ./out
dirs = map
map_put ${dirs} x86_64-pc-windows-msvc/release/jsonschema_1c.dll jsonschema_1c_x64.dll
map_put ${dirs} i686-pc-windows-msvc/release/jsonschema_1c.dll jsonschema_1c_x32.dll
map_put ${dirs} x86_64-pc-windows-gnu/release/jsonschema_1c.dll jsonschema_1c_x64.dll
map_put ${dirs} i686-pc-windows-gnu/release/jsonschema_1c.dll jsonschema_1c_x32.dll
map_put ${dirs} x86_64-unknown-linux-gnu/release/libjsonschema_1c.so jsonschema_1c_x64.so
map_put ${dirs} i686-unknown-linux-gnu/release/libjsonschema_1c.so jsonschema_1c_x32.so
keys = map_keys ${dirs}

for dir_target in ${keys}
    path_target = join_path ./target ${dir_target}
    exist_path = is_path_exists ${path_target}

    if ${exist_path}
        p = map_get ${dirs} ${dir_target}
        cp ${path_target} ./out/${p}
    end
end

release ${dirs}
cp Manifest.xml ./out/Manifest.xml
'''

[tasks.pack-to-zip.linux]
script_runner = "bash"
script = '''
cd ./out
zip jsonschema_1c *
'''

[tasks.pack-to-zip.windows]
script_runner = "powershell"
script_extension = "ps1"
script = '''
Get-ChildItem -Path "./out" -File | Where-Object { $_.Extension -ne ".zip" } | ForEach-Object {
    Compress-Archive -Path $_.FullName -DestinationPath "./out/jsonschema_1c.zip" -Update
}
'''

[tasks.pack-release]
dependencies = ["clean", "release", "remove-out", "copy_bin", "pack-to-zip"]